.MenuButton {
    -fx-background-color: transparent;           /* 배경 제거 */
    -fx-border-color: transparent;              /* 테두리 제거 */
    -fx-text-fill: transparent;                 /* 글자도 안 보이게 */
    -fx-background-radius: 0;                   /* 둥글기 제거 */
    -fx-border-radius: 0;
    -fx-padding: 0;                              /* 여백 제거 */

    -fx-background-image: url("/image/chevrons-right.png");
    -fx-background-size: 26px 26px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-pref-width: 26px;                        /* 아이콘 크기와 동일하게 */
    -fx-pref-height: 26px;
    -fx-cursor: hand;                            /* 마우스 오버시 포인터로 */
}

.MenuOffButton {
    -fx-background-color: transparent;           /* 배경 제거 */
    -fx-border-color: transparent;              /* 테두리 제거 */
    -fx-text-fill: transparent;                 /* 글자도 안 보이게 */
    -fx-background-radius: 0;                   /* 둥글기 제거 */
    -fx-border-radius: 0;
    -fx-padding: 0;                              /* 여백 제거 */

    -fx-background-image: url("/image/chevrons-left.png");
    -fx-background-size: 26px 26px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-pref-width: 26px;                        /* 아이콘 크기와 동일하게 */
    -fx-pref-height: 26px;
    -fx-cursor: hand;                            /* 마우스 오버시 포인터로 */
}

.cell-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.cell-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* 약간 밝은 흰색 느낌 */
    -fx-border-color: #BDBDBD;
}



.SideTab {
    -fx-background-color: #f5f5f5;  /* 연회색 배경 */
    -fx-background-insets: 0;
    -fx-padding: 20;                /* 안쪽 여백 (선택) */
    -fx-border-color: #ccc;         /* 테두리 추가 (선택) */
    -fx-border-width: 1;            /* 테두리 두께 */
}